
<div class="container">


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="attendanceForm" (ngSubmit)="onUpdate()">
            <div class="modal-body">
            
                <div class="mb-4">
                    <label for="date">Date</label>
                    <div class="col">
                      <input
                        type="date"
                        formControlName="intime"
                        class="form-control"
                        placeholder="Enter Date"
                      />
                    </div>
                    <br />

                    <!-- <label for="outtime">Out Time</label>
                    <input
                        type="time"
                        step="1"
                        formControlName="outtime"
                        class="form-control"
                        placeholder="Enter Outtime"
                    /> -->
                </div>

                    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
      </div>
    </div>
  </div>

    <!--  -->
    <div class="row justify-content-center my-5">
      <div class="col-md-6 text-center text-primary bg-white rounded shadow py-3">
        <p class="h4 mb-4">Attendance of {{currentUsername}}</p>
            <table class="table table-striped">

                <thead>
                <tr>
                    <th>Date</th>
                    <th>In Time</th>
                    <th>Out Time</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let attendance of attendanceList , index as i" >
                    <td>{{attendance.date | date}}</td>
                    <td>{{attendance.intime}}</td>
                    <td>{{attendance.outtime}}</td>
                    <td>
                        <button type="button" (click)="updateUserAttendance(attendance.id)" data-toggle="modal" data-target="#exampleModal">Update</button>
                    </td>
                    <td>
                        <button type="button" (click)="deleteUserAttendance(attendance.id)">Delete</button>
                    </td>
                    <!-- <td>{{attendance | json}}</td> -->
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>