
<div class="container">
  <div class="row justify-content-center my-5">
    <div class="col-md-6 text-center text-primary bg-white rounded shadow py-3">


<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <p class="h4 mb-4">User Login</p>

  <div class=" mb-4">
      <div class="col">
        <label for="emailId">Email</label>
          <input type="text" formControlName="emailId"  class="form-control" placeholder="Enter Email">
      </div>
      <br>
      <span style="color:red;" *ngIf="emailId &&  emailId.invalid &&emailId.touched"> Input field is not valid</span>
      <!-- <span style="color:red;" *ngIf="loginForm && loginForm.invalid && loginForm.touched">This Input field is not valid</span> -->
      <div class="col">
          <label for="password">Password</label>
          <input type="password" formControlName="password"  class="form-control" placeholder="Enter Password">
      </div>
      <br>
      <span style="color:red;" *ngIf="password &&  password.invalid &&password.touched">password Input field is not valid</span>
      <!-- <span style="color:red;" *ngIf=" loginForm &&  loginForm.controls && loginForm.controls.password && loginForm.controls.password.invalid && loginForm.controls.password.touched">password Input field is not valid</span> -->
      
      <small
          ><br>
          Are you a new user?
          <a routerLink="../registeruser" class="text-success">Register</a>
      </small>

      <br>
      <button class="btn btn-info my-4 btn-block" type="submit">Sign-In</button>

  </div>
    </form>

    </div>
  </div>
</div>



<!-- <div class="container col-md-6">
   <h1 style="color:brown;">User Login</h1> 
    <form (ngSubmit)="userLogin()">
      <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Login</label>
    <input type="text" [(ngModel)]="user.emailId" class="form-control" id="emailId" name="emailId">
    
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">password</label>
    <input type="password" [(ngModel)]="user.password" class="form-control" id="password" name="password">

</div>
<button type="submit" class="btn btn-primary">Login</button>
</form>
</div>

   -->